body {
    background: lightgray;
    font-family: monospace;
}

.title {
    font-size: 30px;
    line-height: 40px;
    padding-left: 10px;
}

.framework {
    width: 680px;
    background: #0cc3ff
}

.title {
    color: white;
}

#root {
    background: #00b2ed;
}